# Redis settings
REDIS_URL=redis://redis:6379

# Uploaded assets.
# docker-compose.local.yml overrides S3 settings to local MinIO.
# For production, point these S3 settings at your object store.
S3_ACCESS_KEY_ID=admin12345
S3_SECRET_ACCESS_KEY=admin12345
S3_SESSION_TOKEN=
